%div.community-section.panel
  %div.community-section__title
    %h3.text-uppercase
      EXPLORATORY
      %span.lighten>ANALYSIS
  %div.community-section__graph1
    %div#community_graph
    = render 'visitors/days'
  %p.panel-heading.lighten Response Rates
  %div.community-section__graph2
    %div#response_graph
    = render 'visitors/line2'
