%div.community-section.panel
  %div.community-section__title.panel-heading
    %h3.text-uppercase
      %strong Community
  %div.community-section__graph1.panel
    %div#community_graph(style='width:400px; height:300px')
    = render 'visitors/line1'
  %p Response Rates
  %div.section-section__graph2.panel
    %div#response_graph(style='width:400px; height:300px')
    = render 'visitors/line1'
