%div.community-section.panel
  %div.community-section__title.panel-heading
    %h3.text-uppercase
      %strong Community
  %div.community-section__graph1
    %div#community_graph
    = render 'visitors/line1'
  %p.panel-heading Response Rates
  %div.community-section__graph2
    %div#response_graph
    = render 'visitors/line2'
