%ul
  %li.push-down
    %span.i.fa.fa-circle.bullet-alpha
    %span.item-list Resilience
  %li.push-down
    %i.fa.fa-circle.bullet-epsilon
    %span.item-list Time Management
  %li.push-down
    %i.fa.fa-circle.bullet-epsilon
    %span.item-list School Climate
  %ul.push-right
    %li
      %i.fa.fa-circle.bullet-gamma
      %span.item-list Safety
    %li
      %i.fa.fa-circle.bullet-epsilon
      %span.item-list Support for Learning
    %li
      %i.fa.fa-circle.bullet-beta
      %span.item-list Relationships
    %li
      %i.fa.fa-circle.bullet-epsilon
      %span.item-list Facilities / Resources
