%ul
  %li
    %span.i.fa.fa-circle
    %span Resilience
  %li
    %i.fa.fa-circle
    %span Time Management
  %li
    %i.fa.fa-circle
    %span School Climate
  %ul
    %li
      %i.fa.fa-circle
      %span Safety
    %li
      %i.fa.fa-circle
      %span Support for Learning
    %li
      %i.fa.fa-circle
      %span Relationships
    %li
      %i.fa.fa-circle
      %span Facilities / Resources
