%div.display-section.panel
  %div.display-section__title.panel-heading
    %h3.text-uppercase
      %strong Display
  %div.display-section__primary
  = render 'visitors/criteria'
  %div.display-section__secondary
    %ul
      %li
        %i.fa.fa-circle
        %span Composite
      %li
        %i.fa.fa-circle
        %span Separate
    %p Whose Responses?
    %ul
      %li
        %i.fa.fa-circle
        %span Students
      %li
        %i.fa.fa-circle
        %span Faculty
      %li
        %i.fa.fa-circle
        %span Parents
