%div.display-section.panel
  %div.display-section__title.panel-heading
    %h3.text-uppercase
      %strong Display
  %div.display-section__primary.bump-right
    = render 'visitors/criteria'
  %div.display-section__secondary.pull-right
    %ul.push-down
      %li.pull-left
        %i.fa.fa-circle.bullet-epsilon
        %span.nudge-right Composite
      %li
        %i.fa.fa-circle.bullet-epsilon.push-right
        %span.nudge-right Separate
    %p.line-separator.bump-right
    %p.push-right-more.push-down.lighten Whose Responses?
    %ul
      %li
        %i.fa.fa-circle.bullet-beta
        %span.item-list Students
      %li
        %i.fa.fa-circle.bullet-beta
        %span.item-list Faculty
      %li
        %i.fa.fa-circle.bullet-epsilon
        %span.item-list Parents
