%div.livequestions-section__form
  %form.form-inline.form-horizontal{method: 'post'}
    %label.control-label.col-sm-3.question-label.lighten Text
    %div.input-group.col-sm-9
      %textarea.form-control.text-input{rows: '5'}
    %label.control-label.col-sm-3.question-label.lighten Response
    %div.input-group.col-sm-9
      %input.form-control
    %label.control-label.col-sm-3.question-label.bump-up.lighten Options
    %div.input-group.col-sm-9
      %input.form-control
    %label.control-label.col-sm-3
    %div.input-group.col-sm-9
      %input.form-control
    %label.control-label.col-sm-3
    %div.input-group.col-sm-9
      %input.form-control
    %label.control-label.col-sm-3
    %div.input-group.col-sm-9
      %input.form-control
    %div.col-sm-3
    %label.control-label.col-sm-3.question-label.lighten Schedule
    %div.input-group.col-sm-7.question-button
      // this button doesn't do anything yet...
      %button.btn.btn-default SEND NOW

