%div.groups-section.panel
  %p.groups-section__title.panel-heading My Groups
  %div.groups-section__items.list-group
    %a.list-group-item ESL 9th Graders
    %a.list-group-item Absentee Issues 9-12
    %a.list-group-item 10-12 Girls Math
