%div.community-section.panel
  %div.community-section__title
    %h3.text-uppercase
      PREVIOUS
      %span.lighten>VISUALIZATIONS
  %p.panel-heading.lighten Map of Boston Bike Trips, Collisions and Paths
  %div.community-section__graph1
    %div#community_graph
      %iframe{:src =>"https://public.tableau.com/views/BostonStreetswithmostCollisionsperdistance/Page4?:embed=y&amp;:showVizHome=no&amp;:display_static_image=y"}
  %p.panel-heading.lighten Collisions on Selected Boston Streets
  %div.community-section__graph2
    %div#response_graph
