%ul
  %li
    %span.i.fa.fa-circle.bullet-alpha
    %span.chart-label Strongly Agree
    %span 15%
  %li
    %i.fa.fa-circle.bullet-beta
    %span.chart-label Somewhat Agree
    %span 32%
  %li
    %i.fa.fa-circle.bullet-gamma
    %span.chart-label Somewhat Disagree
    %span 17%
  %li
    %i.fa.fa-circle.bullet-delta
    %span.chart-label Strongly Disagree
    %span 35%
