%ul
  %li
    %span.i.fa.fa-circle.bullet-alpha
    %span.chart-label Strongly Agree
    %span 47%
  %li
    %i.fa.fa-circle.bullet-beta
    %span.chart-label Somewhat Agree
    %span 27%
  %li
    %i.fa.fa-circle.bullet-gamma
    %span.chart-label Somewhat Disagree
    %span 21%
  %li
    %i.fa.fa-circle.bullet-delta
    %span.chart-label Strongly Disagree
    %span 4%
