%div.livequestions-section.panel
  %ul
    %li.livequestions-section__title
      %h3
        %strong Live
        %span.lighten> Questions
    %li.pull-right.push-down-more
      %ul.livequestions-section__subhead
        %span Weekly Limit
        %span.livequestions-section__counter 5 left out of 20
    = render 'visitors/form'
