%div.people-section.panel.custom-padding
  %p.people-section__title.panel-heading Our People
  %div.people-section__items.list-group
    %a{href: '#', class:'list-group-item'} Faculty/Staff
    %a{href: '#', class:'list-group-item'} Absentee Issues 9-12
    %a{href: '#', class:'list-group-item'} Students
    %a{href: '#', class:'list-group-item'} Parents
    %a{href: '#', class:'list-group-item'} Coaches
    %a{href: '#', class:'list-group-item'} Volunteers

