%div.people-section.panel
  %p.people-section__title.panel-heading Our People
  %div.people-section__items.list-group
    %a.list-group-item Faculty/Staff
    %a.list-group-item Students
    %a.list-group-item Parents
    %a.list-group-item Coaches
    %a.list-group-item Volunteers

