%div.results-section.panel
  %div.results-section__title.panel-heading
    %h3.text-uppercase
      %strong Results
  %div.results-section__primary.panel
  = render 'visitors/criteria'
  %div.results-section__secondary.panel
    %p Search
    %input{type:"search", class:"search-query"}
  %div.results-section__graph1.panel
    %p This week my teacher let me know that I did a good job.
    = high_chart("my_id", @chart)
  %div.results-section__graph2.panel
    %p Our school administrators looked out for our needs this week.
    = render 'visitors/circle2'
