%div.results-section.panel
  %div.results-section__title
    %h3.text-uppercase
      PRELIMINARY
      %span.lighten>Results
  %div.results-section__graph1.push-down
    %p.line-separator.bump-right
    %p.bump-right A bicycle accident is more likely to involve a male than a female
    %div#teacher_graph.pull-left
      = render 'gender'
    %div.graph-legend
      = render 'gender_legends'
    %p.lighten In EMS collisions where gender is reported, male riders outnumber females. This does not necessarily mean that male riders are more prone to bike crashes than females because about 70% of recorded bike trips in the city are conducted by men.
  %div.results-section__graph2
    %p.line-separator.bump-right
    %p.bump-right Helmet usage is lower in cylists involved in accidents.
    %div#administrator_graph.pull-left
      = render 'helmet'
    %div.graph-legend
      = render 'helmet_legends'
    %p.lighten In EMS collisions where helmet use is reported, riders without helmet are overwelming majority. It would be interesting to explore if risk-taking behaviors such us not-wearing a helmet is related to frequency of accidents.
