%div.school-section.panel.custom-padding
  %p.school-section__title.panel-heading Data Sets Used
  %ul.school-section__items.list-group
    %li
      %a{href: '/pages/about', class:'list-group-item'} RunKeeper Bike Trips
    %li
      %a{href: '/pages/about', class:'list-group-item'} Boston EMS Records
    %li
      %a{href: '/pages/about', class:'list-group-item'} Bike Lane Coordinates
