%div.school-section.panel
  %p.school-section__title.panel-heading Our School
  %div.school-section__items.list-group
    %a.list-group-item Founders Memorial
    %a.list-group-item Essex Elementary
    %a.list-group-item Essex High School
    %a.list-group-item Founders Memorial
    %a.list-group-item Essex Elementary
    %a.list-group-item Essex High School
    %a.list-group-item Founders Memorial
    %a.list-group-item Essex Elementary
    %a.list-group-item Essex High School
    %a.list-group-item Founders Memorial
    %a.list-group-item Essex Elementary
    %a.list-group-item Essex High School
    %a.list-group-item Founders Memorial
    %a.list-group-item Essex Elementary
    %a.list-group-item Essex High School
