%div.tags-section.panel
  %p.tags-section__title.panel-heading Tags
  %div.tags-section__grade.panel
    %p.panel-heading Grade
    %div.tags-section__grade-items.list-group
      %a.list-group-item 9
      %a.list-group-item 10
      %a.list-group-item 11
      %a.list-group-item 12

  %div.tags-section__subject.panel
    %p.panel-heading Subject
    %select{class: "form-control"}
      %option Choose Subject
      %option Math
      %option Science
  %div.tags-section__gender.panel
    %p.panel-heading Gender
    %select{class: "form-control"}
      %option Choose Gender
      %option Male
      %option Female
      %option Other

