%div.row
  %div.col-lg-12
    %div.col-lg-2.custom-padding
      = render 'visitors/school'
    %div.col-lg-5.custom-padding
      = render 'visitors/community'
    %div.col-lg-5.custom-padding
      = render 'visitors/results'
  %div.all-clear
