<% content_for :title do %>About<% end %>
<h3>About the Dashboard</h3>
<p>
This web application was created by Elizabeth Tenorio
<%= link_to('Github', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
