<% content_for :title do %>About<% end %>
<h2>About the Tech Challenge Datasets</h2>

<h3>Bicycle Collisions dataset</h3>

<p>The Boston Area Research Initiative's Bicycle Collision dataset contains anonymized information of accidents involving cyclists in Boston between 2009 and 2012. The public dataset is available for download after registering for an account at <a href="http://www.bostonarearesearchinitiative.net/">BARI</a>.</p> 

<p>I downloaded the bike collision codebook and dataset as a PDF and  1.75Mb Excel file, respectively. The database contains 51 variables grouped into seven categories:</p>
<ol>
<li>Initial Report Content, or basic information associated with the initial emergency report</li>
<li>Geographic Location describes where the collision occurred;</li>
<li>Context of Collision describes various man-made factors that might have contributed to the collision;</li>
<li>Weather describes the environmental conditions at the time of the collision</li>
<li>Liability includes information referencing potential fault and legal liability in the collision.</li>
<li>Demographic characteristics of the cyclist.</li>
<li>The official Boston Police Department narrative describing the incident.</li>
</ol>

<p>An official analysis of this dataset has been discussed in the <a href="http://www.cityofboston.gov/news/uploads/16776_49_15_27.pdf">Boston Cyclist Safety Report of 2013</a>. I have also participated in a <a href="http://hubhacks-vermonster.s3-website-us-west-2.amazonaws.com/">Hubhacks2 data visualization challenge</a> organized by the City of Boston where my team created interesting visualizations using this and the two other datasets listed in this Tech Challenge. My proposed project for Data Incubator will go beyond the limited visualizations done during the Hubhacks challenge. </p>

<h3>Bicycle Trips dataset</h3>

<p><a href='http://runkeeper.com'>Runkeeper</a> is a mobile app that enables hikers, runners and cyclists to track their runs, walks and other health-related data. I was able to obtain Runkeeper's data on running and biking in Boston between 2010 and 2015 when it was made available to the participants of Hubhacks2 challenge in March 2015. hThe data set has five variables: 'Latitude', 'Longitude', 'Activity Type', 'Datetime', 'Route ID'. By filtering the data for 'Activity Type' for cycling and grouping the records by Route ID, we were able to build a map of all the cycling routes in the dataset</p>

<p>
</p>

<h3>Bicycle Facilities dataset</h3>

<p>
This web application was created by Elizabeth Tenorio
</p>
