@import "bootstrap-sprockets";
@import "bootstrap";

img {
  @extend .img-responsive;
  margin: 0 auto;
}

// 'Home' nav link
.navbar-brand {
  font-size: inherit;
}

.column {
  @extend .col-md-6;
  @extend .text-center;
}

.form {
  @extend .col-md-6;
}

.form-centered {
  @extend .col-md-6;
  @extend .text-center;
}

.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  height: 800px;
  margin-top: 51px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding-left: 10px;
}

.custom-padding {
  padding: 5px !important;
}

