// ----- Fonts and Colors -----
$color-alpha: #0099FF;
$color-beta: #8AC007;
$color-gamma: #FF0099;
$color-delta: #FFCC00;
$color-epsilon: #C0C0C0;
$color-epsilon-light: #F0F0F0;
$color-zeta: #FFFFFF;

.lighten {
  font-weight: 100;
}

.bullet-alpha {
  color: $color-alpha; // blue
}

.bullet-beta {
  color: $color-beta; // green
}

.bullet-gamma {
  color: $color-gamma; // pink
}

.bullet-delta {
  color: $color-delta; // orange
}

.bullet-epsilon {
  color: $color-epsilon; // gray
}

// ----- General Styles  -----

$label-width: 180px;
$item-width: 140px;
$item-padding: 5px;

.spacer {
  &:after {
    padding-left: 10px;
    color: $color-beta;
    content: "|";
  }
}

.line-separator {
  height: 1px;
  background: $color-epsilon;
  border-bottom: 1px solid $color-epsilon;
}

.chart-label {
  display: inline-block;
  width: $label-width;
  padding-left: $item-padding;
}

.item-list {
  display: inline-block;
  width: $item-width;
  padding-left: $item-padding;
}

.push-down {
  padding-top: 10px;
}

.push-down-more {
  padding-top: 20px;
}

.push-right {
  padding-left: 20px;
}

.nudge-right {
  padding-left: 5px;
}

.push-left {
  padding-right: 20px;
}

.bump-down {
  margin-top: 10px;
}

.bump-right {
  margin-left: 10px;
}

.bump-left {
  margin-right: 10px;
}

.bump-up {
  margin-top: -20px;
}

// ----- Section styles -----

$section-width: 235px;
$section-margin: 10px;
$section-padding: 15px;
$section-font-size: 18px;

.navbar-header a.navbar-brand.acme-logo {
  text-indent: -9999px;
  margin-left: -50px;
  padding: 0;
  display: block;
  width: 215px;
  height: 70px;
  background-color: $color-beta;
  background-image: image-url('logo-transparent.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
}

.banner {
  display: inline-block;
  padding-left: 10px;
}

.datebox {
  display: inline-block;
  font-size: 30px;
  padding-top: 18px;
}

.people-section,
.groups-section,
.tags-section,
.school-section {
  a.list-group-item {
    width: 95%;
    margin: 0 auto;
    border: none;
    background-color: $color-epsilon-light;
  }
  p {
    font-size: $section-font-size;
  }
}

.groups-section .groups-section__items.list-group {
  margin-bottom: 15px;
}

.people-section .people-section__items.list-group {
  margin-bottom: 15px;
}

.school-section .school-section__items.list-group {
  margin-bottom: 15px;
}
.display-section__primary,
.display-section__secondary,
.results-section__primary {
  display:inline-block;
  width: $section-width;
  margin-bottom: $section-margin * 1.5;
  background-color: $color-epsilon-light;
  p {
    padding-left: 30px;
    margin-bottom: 0;
  }
}

.display-section__secondary {
  height: 180px;
  margin-right: 10px;
}

.community-section,
.display-section,
.results-section,
.school-section {
  margin-top: 20px;
  p {
    font-size: $section-font-size;
  }
  h3 {
    padding-left: 10px;
  }
}
.school-section ul {
  height: 130px;
  overflow: auto;
}

.school-section ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $color-beta;
}

.school-section ul::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.school-section ul::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

ul.tags-section__grade-items {
  margin-bottom: 0;
}

.tags-section__grade,
.tags-section__subject,
.tags-section__gender {
  padding: 5px 10px 20px 10px;
  background: $color-epsilon-light;
  margin-top: 2px;
  font-size: 12px;
  p {
    font-size: 14px;
    padding-left: 5px;
  }
}

.tags-section__grade-items.list-group.grade-levels li{
  display: inline-block;
  width: 30px;
  height: 20px;
  text-align: center;
  a {
    padding: 5px 0;
    background-color: #FFFFFF;
  }
}

.groups-section__items.list-group li,
.people-section__items.list-group li{
  margin-top: 2px;
}

.results-section__secondary {
  width: $section-width;
  height: 170px;
  display: inline-block;
  li {
    margin-top: 10px;
  }
  p {
    font-size: $section-font-size * 0.8;
  }
  input {
    width: $section-width * 0.7;
    background: $color-epsilon-light;
  }
}

.livequestions-section {
  li {
    display: inline-block;
  }
  form {
    padding-right: 14px;
  }
}

.livequestions-section__subhead {
  padding-right: 14px;
}

.livequestions-section__counter {
  padding: 3px 30px 3px 6px;
  display: inline-block;
  margin-left: 3px;
  color: $color-zeta;
  background-color: $color-beta;
}

.livequestions-section__form {
   li {
     display: block;
   }
   input.form-control{
     margin-bottom: 4px;
   }
}

.livequestions-section .control-label.question-label {
  padding-top: 0;
  padding-bottom: 0;
}

textarea.form-control,
input.form-control {
  border: none;
  background: $color-epsilon-light;
  resize: none;

  &.text-input {
    margin-bottom: 15px;
  }
}

// ----- Graphs and Charts ----

$graph-width: 495px;
$graph-height: 270px;

.community-section__graph1,
.community-section__graph2,
.results-section__graph1,
.results-section__graph2 {
  padding-bottom: $section-padding;
  p {
    font-size: $section-font-size * 0.9;
    padding-left: 15px;
  }
}

#community_graph,
#response_graph {
  width: $graph-width;
  height:$graph-height;
  padding-left: 5px;
}

#hubhacks_graph iframe {
  width: 1010px;
  height: 880px;
  padding-left: 5px;
}

#teacher_graph, #administrator_graph {
  width: $graph-width * 0.4;
  height:$graph-height * 0.6;
  display: inline-block;
}

.graph-legend {
  width: $graph-width * 0.6;
  height: $graph-height * 0.6;
  padding-top: 40px;
  display: inline-block;
}

